@model IEnumerable<AjudAkiWeb.Models.ContratacaoViewModel>

@{
    ViewData["Title"] = "Minhas Contratações";
}
<head>
    <link href="~/css/ContratacaoIndext.css" rel="stylesheet" asp-append-version="true" />
</head>

<h1>Minhas contratações</h1>
<h6>Gerencie as suas contratações.</h6>

@foreach (var item in Model)
{
    <div class="contratacao-card" data-status="@item.Status">
        <div class="contratacao-img">
            <img src="~/img/profissional.jpg" alt="Foto do Profissional" />
        </div>
        <div class="contratacao-detalhes">
            <h2>@item.Nome</h2>
            <p class="telefone"><i class="fas fa-phone"></i> 9 9999-9999</p>
            <p class="area-atuacao">Área de atuação: @item.IdServico</p>
            <p class="tipos-servico">Tipos de serviço: Instalação de tubulações, Reparo de vazamentos</p>
            <p class="data-turno">Dia e turno: Tarde, Dia @item.Data.ToString("dd/MM/yyyy")</p>
        </div>
        <div class="contratacao-footer">
            <div class="contratacao-avaliacao">
                <span>5.0/5.0</span>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            </div>
            <div class="contratacao-status">
                <span class="status-mensagem">@item.Status</span>
            </div>
        </div>
    </div>

}
<script src="~/js/ContratacaoIndex.js"></script>