@model AjudAkiWeb.Models.AgendaViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AgendaViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Turno)
                @Html.DropDownListFor(m => m.Turno, Model.TurnoList, "Selecione Plano", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Turno)
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TurnoOcupado" /> @Html.DisplayNameFor(model => model.TurnoOcupado)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DiaOcupado" /> @Html.DisplayNameFor(model => model.DiaOcupado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
