@model AjudAkiWeb.Models.AssinaturaViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AssinaturaViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Status)
                @Html.DropDownListFor(m => m.Status, Model.PlanoList, "Selecione o Status", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Status)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Status)
                @Html.DropDownListFor(m => m.Status, Model.StatusList, "Selecione o Status", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Status)
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
