@model AjudAkiWeb.Models.AssinaturaViewModel

@{
    ViewData["Title"] = "Alterar plano";
}

<head>
    <link href="~/css/assinaturaCreate.css" rel="stylesheet" asp-append-version="true" />
</head>

<h1>Editar dados do plano</h1>

<h4>Gerencie os dados do plano.</h4>

<hr />

<div class="card">
    <form asp-action="Edit" class="assinatura-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <h5>Dados do plano</h5>

        <div class="form-group">
            @Html.LabelFor(m => m.Nome)
            @Html.DropDownListFor(m => m.Nome, Model.PlanoList, "Selecione Plano", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Nome)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Status)
            @Html.DropDownListFor(m => m.Status, Model.StatusList, "Selecione o Status", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Status)
        </div>
        <div class="form-group">
            <label asp-for="Valor" class="control-label"></label>
            <input asp-for="Valor" class="form-control" placeholder="R$" />
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Descricao" class="control-label"></label>
            <textarea asp-for="Descricao" class="form-control" rows="3" placeholder="Plano com X anúncios."></textarea>
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <div class="form-group button-group">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
</div>

<br />

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
